apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  labels:
    role: app
spec:
  replicas: 2
  selector:
    matchLabels:
      role: app
  template:
    metadata:
      labels:
        role: app
    spec:
      containers:
      - name: app
        image: "{{ image_id }}"
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 10m
      imagePullSecrets:
       - name: dockerhub