---
- name: Update all packages
  yum:
   name: '*'
   state: latest

- name: Install EPEL repository
  yum:
    name:
      - epel-release
    state: latest

- name: Install common packages
  yum:
    name: "{{ common_packages}}"
    state: latest

- name: Install ansible and openshift package 
  pip:
    name:
      - ansible
      - openshift
    executable: pip3

#For testing environment firewall can be stopped.
- name: Make sure that firewalld stopped
  service: name=firewalld state=stopped

- name: Add Google DNS to /etc/resolv.conf
  blockinfile:
    path: /etc/resolv.conf
    block: |
      8.8.8.8
      8.8.4.4
    state: present
  
- name: Add domains to /etc/hosts
  blockinfile:
    path: /etc/hosts
    block: |
      192.168.7.2 master.example.com master
      192.168.7.3 node1.example.com node1
      192.168.7.4 node2.example.com node2
    state: present

#For testing environment SELinux can be disabled
- name: Disable SELinux
  selinux:
    state: disabled

#For Kubernetes we need to disable swap. Otherwise It becomes harder to provision cluster.
- name: Disable SWAP-1
  shell: |
      swapoff -a
    
- name: Disable SWAP-2
  replace:
    path: /etc/fstab
    regexp: '^(.+ swap .*)$'
    replace: '# \1'

- name: Load required kernel modules
  modprobe:
    name: "{{ item }}"
    state: present
  with_items: "{{ kernel_modules }}"

- name: Modify sysctl entries
  sysctl:
    name: '{{ item.key }}'
    value: '{{ item.value }}'
    sysctl_set: yes
    state: present
    reload: yes
  ignore_errors: True
  with_items: "{{ sysctl_entries }}"